<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<img src="http://i.imgur.com/MQHYB.jpg"/>

	<% flash.each do |name, message| %>
    <div><%= message %></div>
<% end %>
	<header>This is a header. Its on every page.</header>

<%= yield %>

	<footer>This is a footer. Its on every page.</footer>

</body>
</html>
